*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

body{
    font-family:  sans-serif;
    background: url('../images/main-bg.jpg');
}
/* header */

.header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.nav__logo{
    color: #C9AC8C;
    font-size: 25px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item{
    margin: 0 8px;
}

.nav__link{
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    position: relative;
}

.nav__link::before{
    content: '';
    position: absolute;
    bottom: -26.5px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #FFFFFF;
    transition: .5s ease;
}
.nav__link:hover::before{
    width: 100%;
}


.nav__avatar{
    cursor: pointer;
    display: flex;
    align-items: center ;
}
.down{
    margin-left: 5px;
}

/*header*/

.intro__wrapper{
    background-image: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(89.16deg, #263A3D 70.78%, rgba(25, 25, 25, 0) 105.05%),url('../images/home-bg.png'); */
    border-radius: 21px;
    padding: 45px;
    margin-top: 54px;
}

.intro__title{
    width: 200px;
    font-size: 61px;
    color: #C9AC8C;
    font-weight: 100;
}
.slider__dots{
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}



.dot{
    cursor: pointer;
    height: 3px;
    width: 57px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.active__dot{
    background: #FFFFFF;
}