*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

body{
    font-family:  sans-serif;
    background: url('../images/main-bg.jpg');
}
/* header */

.header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.nav__logo{
    color: #C9AC8C;
    font-size: 25px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item{
    margin: 0 8px;
}

.nav__link{
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    position: relative;
}

.nav__link::before{
    content: '';
    position: absolute;
    bottom: -26.5px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #FFFFFF;
    transition: .5s ease;
}
.nav__link:hover::before{
    width: 80%;
}


.nav__avatar{
    cursor: pointer;
    display: flex;
    align-items: center ;
}
.down{
    margin-left: 5px;
}

/*header*/

.intro__wrapper{
    background-image: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(89.16deg, #263A3D 70.78%, rgba(25, 25, 25, 0) 105.05%),url('../images/home-bg.png'); */
    border-radius: 21px;
    padding: 45px;
    margin-top: 54px;
}

.intro__title{
    width: 200px;
    font-size: 61px;
    color: #C9AC8C;
    font-weight: 100;
}
.slider__dots{
    padding: 20px 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 70px;
}



.dot{
    cursor: pointer;
    height: 3px;
    width: 57px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.active__dot{
    background: #FFFFFF;
}
.search{
    position: relative;
    bottom: 50px;
}

.search__inner{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    background: #191919;
    text-align: center;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 35px;
}
.search__form{
    display: flex;
}
.search__input{
    max-width: 900px;
    width: 100%;
    border: none;
    outline: none;
    color: #999;
    font-size: 16px;
    background: #404040;
    border-radius: 15px;
    padding: 0 18px;
}

.search__title{
    color: #C9AC8C;
    margin-bottom: 15px;
}

.search__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 38px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
}

.search__icon{
    margin-right: 7px;
}


/*------------categories -----------------------------*/

.categories__header{
    text-align: center;
}
.categories__title{
    color: #C9AC8C;
    font-size: 31px;
}
.categories__list{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.categories__link{
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.active{
    color: #C9AC8C;
}

.categories__wrapper-card{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

.categories__card{
    margin-bottom:20px ;
    color: #999;
}

.book__title{
    color: #C9AC8C;
}
